extends ../layout

block content
    h1.
         #{title}
    ul
        each cls, i in classes
            li
                = cls.year
                = cls.semester
                = cls.prefix
                = cls.number
                = cls.name
                = cls.section
                form(action='/classes/#{cls._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/classes/#{cls._id}/edit') Edit
                p
                    a(href='/classes/#{cls._id}') Show